.rights-reserved {
  height: 43px;
  background-color: #252525;
}

.rights-text {
  height: 29.8px;
  font-family: "Open Sans", sans-serif;
  font-size: 9.9px;
  line-height: 4.42;
  text-align: center;
  color: white;
}
