<div
  class="video-email d-flex justify-content-center align-items-center flex-column"
>
  <div class="row mt-3 justify-content-center">
    <div class="col-9">
      <div class="quote">
        Personalized Video Emails
        <div class="light-quote">
          100 Video Emails/Month <strong>$10</strong>/Month
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-3 justify-content-center">
    <div class="col-7">
      <p class="para-text-center">
        Unlimited Non-Personalised Video Emails *Based on Sales Subscription
        Plans
      </p>
    </div>
  </div>
</div>
