<div class="row email-compaigns">
  <div class="col-6 d-flex align-items-center">
    <div class="d-flex flex-column ml-5 mr-5">
      <div class="small-size-title">
        PERSONALIZED EMAIL CAMPAIGNS
      </div>
      <div class="large-size-title mt-4">
        Hey
        <span class="large-size-title-highlight">“Walter White”</span> From
        Product Hunt
      </div>
      <div class="medium-size-title mt-4 mr-5">
        Don’t Just Sell. Truly Connect With Your Prospects by Sending
        Personalized Videos
      </div>
      <div class="type-email mt-4 mr-5">
        <input
          class="type-email-input"
          placeholder="Type your name and get ready to be surprised"
        />
        <button mat-flat-button>PERSONALIZE</button>
      </div>
    </div>
  </div>
  <div class="col-6 d-flex align-items-center justify-content-center">
    <img class="h-100 w-100" src="../assets/images/product-hunt-image.png" />
  </div>
</div>
