<div class=" d-flex justify-content-center align-items-center flex-column">
  <div class="row mt-3 justify-content-center">
    <div class="col">
      <div class="small-size-title-colored">
        ACT ON IT
      </div>
    </div>
  </div>
  <div class="row mt-3 justify-content-center">
    <div class="col-12">
      <div class="quote">
        Go Ahead, “Name” See 300% Lift in Email Open Rates
      </div>
    </div>
  </div>
  <div class="row mt-5 justify-content-center">
    <div class="col-12">
      <button mat-flat-button>GET STARTED FOR FREE</button>
    </div>
  </div>
  <div class="row mt-2 mb-5 xs-text">
    <div class="col">
      14-day free trial. No credit card required
    </div>
  </div>
</div>
