.mat-flat-button {
  background-image: linear-gradient(110deg, #fc6076 17%, #ff9a44 83%);
  color: white;
  font-weight: 400;
  width: 213px;
  height: 43px;
}

.xs-text {
  font-family: "Quattrocento Sans", sans-serif;
  font-size: 13px;
  line-height: 1.2;
  letter-spacing: 0.39px;
  color: #080808;
}
