<div class="container-fluid entire-page">
  <app-header></app-header>
  <app-email-campaign></app-email-campaign>
  <app-loved-business></app-loved-business>
  <app-refer-and-benefit></app-refer-and-benefit>
  <app-getting-started></app-getting-started>
  <app-magic-presentation></app-magic-presentation>
  <app-engage-leads></app-engage-leads>
  <app-testimonials></app-testimonials>
  <app-video-emails></app-video-emails>
  <app-act-on-it></app-act-on-it>
  <app-rights-reserved></app-rights-reserved>
</div>
