<div class="row mt-5">
  <div class="col text-center">
    <div class="small-size-title-colored">TESTIMONIALS</div>
  </div>
</div>
<div class="row mt-3 mb-5 d-flex justify-content-center">
  <div class="col-4">
    <div class="quote">
      “Name”, We Are Loved By Our Customers!
    </div>
  </div>
</div>

<div
  class="testimonial-container d-flex align-items-center justify-content-center"
>
  <div class="row">
    <div class="col mr-5">
      <div class="double-quote">
        “
      </div>
    </div>
    <div class="col">
      <img
        class="testimon-img"
        src="../../assets/images/testimonial-image.png"
      />
    </div>
    <div class="col">
      <div
        class="testimon-box d-flex flex-column align-items-center justify-content-center"
      >
        <div class="testimon-text">
          “ I’m absolutely thrilled at the potential that Hippo Video has for
          us.Hippo Video is helping us serve our customers better, in return our
          customers are seeing the value. Great work! ”
        </div>
        <div class="testimon-small-text mt-3">
          Brian, CEO, <br />
          <span class="testimon-small-text-colored">
            The Goulet Pen Company
          </span>
        </div>
        <div class="testimon-border-blue mt-3"></div>
      </div>
    </div>
  </div>
</div>
