<div class="row engage-leads">
  <div class="col-6 d-flex align-items-center justify-content-end">
    <div class="d-flex flex-column ml-5 mr-5 w-75">
      <div class="row mt-3 justify-content-left">
        <div class="col-10">
          <div class="small-size-title-colored">
            ENGAGE LEADS EFFECTIVELY
          </div>
        </div>
      </div>
      <div class="row mt-3 justify-content-left mr-5">
        <div class="col-10">
          <div class="quote-left">
            Increase Conversions up to 80%
          </div>
        </div>
      </div>
      <div class="row mt-3 justify-content-left">
        <div class="col-10">
          <p class="para-text">
            Focus on what matters by following up with prospects who are
            interested based on the engagement stats.
          </p>
        </div>
      </div>
      <div class="row mt-3 justify-content-left">
        <div class="col-9">
          <button mat-flat-button>GET STARTED FOR FREE</button>
        </div>
      </div>
    </div>
  </div>
</div>
